#bal{
    text-align: left;
}

.keret{
    border: 2px solid black;
    max-width: fit-content;
    width: auto;
    height: auto;
}

.gomb{
   margin: 0px;
   padding: 5px;
   border: none; 
   width: 100%;
   cursor: pointer;
}

.gomb:hover{
    color: white;
    background-color: black;
}

.kep-meret{
    max-width: 250px;
    width: auto;
    height: 150px;
}

.elem-hatter{
    background-color: rgb(255, 255, 255);
}

.kep-mozgatas{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.kep-keret{
    border-radius: 6px;
    border: 2px solid black;
}

.nagyitas {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .nagyitas:hover {
    -ms-transform: scale(9); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.1); 
  }


